 /* Parte de Footer */

.footerBlanco {
    background-color: rgb(252, 252, 252);
    height: 250px;
}

.footerRedes, a {
    text-decoration: none !important;
    align-items: center;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: rgb(54, 100, 156) !important;
    font-size: 48px;
    padding-top: 20px;
}